#Webstorm settings
.idea/

node_modules/

server/build
npm-debug.log

client/deployment

client/MAM-client.zip
server/MAM-server.tgz

coverage/

uploads/

.DS_Store
client/node_modules
client/target
**/*.swp


ansible/roles/deploy/files/*