#Webstorm settings
.idea/

mam-nginx/

node_modules/

server/build
scheduler/build
scheduler/node_modules

npm-debug.log

client/deployment

client/MAM-client.zip
server/MAM-server.tgz
scheduler/*.tgz

coverage/

uploads/

.DS_Store
client/node_modules
client/target
**/*.swp


ansible/roles/deploy/files/*


