@primary-blue: #7CA7BA;
@primary-dark-blue: #638594;
@primary-light-blue: #96b8c7;
@primary-lightest-blue: #f1f6f8;
@primary-yellow: #F9C35D;
@primary-red: #DF716A;
@primary-green: #9AC4AB;
@primary-light-grey: #FCFBFC;